@{
    List<Model.Table_Model.Commission_Card_Model> list = new List<Model.Table_Model.Commission_Card_Model>();
    if (ViewBag.CardList != null)
    {
        list = ViewBag.CardList;
    }
    
}


<div class="page-container">
    <!-- Page Sidebar -->
    @Html.Partial("Sidebar", 31)
    <!-- /Page Sidebar -->
    <!-- Page Content -->

    <!-- Page Content -->
    <div class="page-content">
        <!-- Page 面包屑 -->
        <div class="page-breadcrumbs">
            <ul class="breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="/Home/Index">首页</a>
                </li>
                <li>业绩提成</li>
                <li>会员卡列表</li>
            </ul>
        </div>
        <!-- /Page 面包屑 -->
        <!-- Page Header -->
        <div class="page-header position-relative">
            <div class="header-title">
                <h1>会员卡列表</h1>
            </div>
            <!--Header Buttons-->
            <div class="header-buttons">
                <a class="sidebar-toggler" href="#">
                    <i class="fa fa-arrows-h"></i>
                </a>
                <a class="refresh" id="refresh-toggler" href="">
                    <i class="glyphicon glyphicon-refresh"></i>
                </a>
                <a class="fullscreen" id="fullscreen-toggler" href="#">
                    <i class="glyphicon glyphicon-fullscreen"></i>
                </a>
            </div>
            <!--Header Buttons End-->
        </div>
        <!-- /Page Header -->

        <!-- Page Body -->
        <div class="page-body">
            <!--<div class="form-group navbar-form">
                <div class="input-group">
                    <input id="txtInputSearch" type="text" class="form-control" style="min-width: 195px;" placeholder="请输入员工名字">
                    <span class="input-group-btn">
                        <a class="btn btn-default" onclick=""><i class="fa fa-search"></i></a>
                    </span>
                </div>
            </div>-->
            <div class="widget-body no-padding">
                <table class="table table-hover table-striped">
                    <colgroup class="row">
                        <col class="col-xs-1">
                        <col class="col-xs-3">
                        <col class="col-xs-3">
                        <col class="col-xs-3">
                        <col class="col-xs-2">
                    </colgroup>
                    <thead>
                        <tr>
                            <th>编号</th>
                            <th>会员账户名称</th>
                            <th>办卡充值</th>
                            <th>续费充值</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (list != null && list.Count > 0) { 
                            int rows = 0;
                            foreach (Model.Table_Model.Commission_Card_Model item in list)
                            {
                                rows++;
                        <tr id="@(item.CardCode)">
                            <td>@(rows)</td>
                            <td>@(item.CardName)</td>
                            @switch(item.FstChargeCommType){
                                case 1:
                                      <td>@(item.FstChargeCommValue == -1 ? "": (item.FstChargeCommValue *100).ToString("0.0") + "%")</td>
                                    break;
                                case 2:
                                 <td>@(item.FstChargeCommValue == -1 ? "": item.FstChargeCommValue.ToString("0.00") + "元")</td>
                                    break;
                            }
                            @switch(item.ChargeCommType){
                                case 1:
                                      <td>@(item.ChargeCommValue == -1 ? "": (item.ChargeCommValue*100).ToString("0.0") + "%")</td>
                                    break;
                                case 2:
                                 <td>@(item.ChargeCommValue == -1 ? "": item.ChargeCommValue.ToString("0.00") + "元")</td>
                                    break;
                            }
                            <td>
                                <a href="/Commission/EditCard?cd=@(item.CardCode)&e=1" class="btn btn-default btn-sm"><i class="fa fa-edit"></i>编辑</a>
                                <a href="/Commission/EditCard?cd=@(item.CardCode)" class="btn btn-default btn-sm"><i class="fa fa-sliders"></i>详情</a>
                            </td>
                        </tr> 
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <!-- /Page Body -->

    </div>
    <!-- /Page Content -->
</div>
<script src="/Script/Commission.js"></script>


