@{
    Model.Table_Model.Hierarchy_Model Hierarchy = new Model.Table_Model.Hierarchy_Model();
    if (ViewBag.Hierarchy != null)
    {
        Hierarchy = ViewBag.Hierarchy;
    }



    List<Model.Table_Model.Hierarchy_Model> listSelect = new List<Model.Table_Model.Hierarchy_Model>();
    if (ViewBag.SelectList != null)
    {
        listSelect = ViewBag.SelectList;
    }
}
<div class="page-container">
    <!-- Page Sidebar -->
    @Html.Partial("Sidebar", 12)
    <!-- /Page Sidebar -->
    <!-- Page Content -->
    <!-- Page Content -->
    <div class="page-content">
        <!-- Page 面包屑 -->
        <div class="page-breadcrumbs">
            <ul class="breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="/Home/Index">首页</a>
                </li>
                <li><a href="/Account/AccountHierarchy">员工层级</a></li>
                <li class="active">编辑员工层级</li>
            </ul>
        </div>
        <!-- /Page 面包屑 -->
        <!-- Page Header -->
        <div class="page-header position-relative">
            <div class="header-title">
                <h1>编辑员工层级</h1>
            </div>
            <!--Header Buttons-->
            <div class="header-buttons">
                <a class="sidebar-toggler" href="#">
                    <i class="fa fa-arrows-h"></i>
                </a>
                <a class="refresh" id="refresh-toggler" href="">
                    <i class="glyphicon glyphicon-refresh"></i>
                </a>
                <a class="fullscreen" id="fullscreen-toggler" href="#">
                    <i class="glyphicon glyphicon-fullscreen"></i>
                </a>
            </div>
            <!--Header Buttons End-->
        </div>
        <!-- /Page Header -->

        <!-- Page Body -->
        <div class="page-body">

            <div class="widget">
                <div class="form-horizontal form-bordered widget-body">
                    <div class="form-group">
                        <label class="col-sm-2 control-label no-padding-right">修改对象</label>
                        <div class="col-sm-4"><div class="btn control-label text-align-left" style="width:100%;">@(Hierarchy.SubordinateName)</div></div>
                        
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label no-padding-right">选择上级</label>
                        <div class="col-md-4">
                            <select id="ddlSelect" style="width:100%;">
                                @if (listSelect != null && listSelect.Count > 0)
                                {
                                    foreach (Model.Table_Model.Hierarchy_Model item in listSelect)
                                    {
                                    <option value="@(item.SubordinateID)"  @(Hierarchy.SuperiorID == item.SubordinateID ? "selected='selected'" : "")   >@(item.SubordinateName)</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <br><div class="col-sm-offset-2 col-sm-10">
                            <button class="btn btn-primary" type="submit" onclick="SubmitHierarchy('@(Hierarchy.ID)','@(Hierarchy.SubordinateID)','@(Hierarchy.SuperiorID)')">确 定</button>
                            <a href="javascript:history.go(-1);" class="btn btn-default"> 返 回 </a>
                        </div><br><br><br>
                    </div>
                    
                </div>
            </div>
        </div>
        <!-- /Page Body -->

    </div>
    <!-- /Page Content -->
</div>
<script src="~/Script/AccountHierarchy.js"></script>
<link href="/assets/css/jquery.treetable.css" rel="stylesheet" />
<script src="/assets/js/fuelux/treeview/jquery.treetable.js"></script>