@{
    Model.View_Model.GetSMSNum_Model SMSNum = Model;
}

<div class="page-container">
    <!-- Page Sidebar -->
    @Html.Partial("Sidebar", 35)
    <!-- /Page Sidebar -->
    <!-- Page Content -->
    <div class="page-content">
        <!-- Page 面包屑 -->
        <div class="page-breadcrumbs">
            <ul class="breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="/Home/Index">首页</a>
                </li>
                <li>验证短信</li>
            </ul>
        </div>
        <!-- /Page 面包屑 -->
        <!-- Page Header -->
        <div class="page-header position-relative">
            <div class="header-title">
                <h1>验证短信</h1>
            </div>
            <!--Header Buttons-->
            <div class="header-buttons">
                <a class="sidebar-toggler" href="#">
                    <i class="fa fa-arrows-h"></i>
                </a>
                <a class="refresh" id="refresh-toggler" href="">
                    <i class="glyphicon glyphicon-refresh"></i>
                </a>
                <a class="fullscreen" id="fullscreen-toggler" href="#">
                    <i class="glyphicon glyphicon-fullscreen"></i>
                </a>
            </div>
            <!--Header Buttons End-->
        </div>
        <!-- /Page Header -->
        <!-- Page Body -->
        <div class="page-body">
            <div class="widget-body no-padding" style="max-height:640px;">
                <table class="table table-hover table-striped">
                    <colgroup class="row">
                        <col class="col-xs-2">
                        <col class="col-xs-1">
                    </colgroup>
                    <thead>
                        <tr>
                            <th>可发短信件数</th>
                            <th>已发短信件数</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            <tr>
                                <td>@(SMSNum.SMSNum)</td>
                                <td>@(SMSNum.SMSSent)</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div>
                <p></p>
                <p><h4>各分店发送短信数</h4></p>
            </div>
            <div class="widget-body no-padding" style="max-height:640px;overflow-y:scroll; ">
                <table class="table table-hover table-striped">
                    <colgroup class="row">
                        <col class="col-xs-1">
                        <col class="col-xs-2">
                        <col class="col-xs-1">
                    </colgroup>
                    <thead>
                        <tr>
                            <th>编号</th>
                            <th>分店</th>
                            <th>已发短信件数</th>
                        </tr>
                    </thead>
                    <tbody>
                    @{
                        int index = 0;
                        foreach (Model.View_Model.SMSNumList_Model item in SMSNum.SMSNumList)
                        {
                            index++;
                            <tr>
                                <td>@(index)</td>
                                <td>@(item.BranchName)</td>
                                <td>@(item.SentNum)</td>
                            </tr>
                        }
                    }
                    </tbody>
                </table>
            </div>
        </div>
        <!-- /Page Body -->
    </div>
    <!-- /Page Content -->
</div>