@{
    bool isAdd = true;
    Model.Table_Model.Promotion_Model model = new Model.Table_Model.Promotion_Model();
    isAdd = ViewBag.IsAdd;

    model = Model;

    int viewtype = ViewBag.viewType;
    int active = ViewBag.active;
    string promoActiveClass = "";
    string branchActiveClass = "";
    if (active == 0)
    {
        promoActiveClass = " active in ";
        branchActiveClass = " ";
    }
    else
    {
        promoActiveClass = "  ";
        branchActiveClass = " active in ";
    }

    string branchhidcss = "";
    if (model.ID <= 0)
    {
        branchhidcss = " hidden ";
    }

    int branchID = ViewBag.BranchID;
    
}

<div class="page-container">
    <!-- Page Sidebar -->
    @Html.Partial("Sidebar", 4)
    <!-- /Page Sidebar -->
    <!-- Page Content -->
    <div class="page-content">
        <!-- Page 面包屑 -->
        <div class="page-breadcrumbs">
            <ul class="breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="/Home/Index">首页</a></li>
                <li><a href="/Promotion/GetPromotionList?viewtype=@(viewtype)">促销列表</a></li>

                @{
                    if (model.ID > 0)
                    {
                    <li class="active">编辑促销</li>
                    }
                    else
                    {
                    <li class="active">添加促销</li>
                    }
                }
            </ul>
        </div>
        <!-- /Page 面包屑 -->
        <!-- Page Header -->
        <div class="page-header position-relative">
            <div class="header-title">
                @{
                    if (model.ID > 0)
                    {
                    <h1>编辑促销</h1>
                    }
                    else
                    {
                    <h1>添加促销</h1>
                    }
                }

            </div>
            <!--Header Buttons-->
            <div class="header-buttons">
                <a class="sidebar-toggler" href="#">
                    <i class="fa fa-arrows-h"></i></a>
                <a class="refresh" id="refresh-toggler" href="">
                    <i class="glyphicon glyphicon-refresh"></i></a>
                <a class="fullscreen" id="fullscreen-toggler" href="#">
                    <i class="glyphicon glyphicon-fullscreen"></i></a>
            </div>
            <!--Header Buttons End-->
        </div>
        <!-- /Page Header -->

        <!-- Page Body -->
        <div class="page-body">
            <div data-example-id="togglable-tabs" role="tabpanel" class="bs-example bs-example-tabs">
                <ul role="tablist" class="nav nav-tabs" id="myTab">
                    <li class="@(promoActiveClass)" role="presentation">
                        <a aria-expanded="true" aria-controls="home" data-toggle="tab" role="tab" id="home-tab" href="#home">
                            @{
                                if (model.ID > 0)
                                {
                                    if (viewtype == 0)
                                    {
                                <text>编辑图片类型促销</text>
                                    }
                                    else
                                    {
                                <text>编辑文字类型促销</text>
                                    }
                                }
                                else
                                {
                                    if (viewtype == 0)
                                    {
                                <text>添加图片类型促销</text>
                                    }
                                    else
                                    {
                                <text>添加文字类型促销</text>
                                    }
                                }
                            }
                        </a></li>
                    <li class="@(branchhidcss) @(branchActiveClass) " role="presentation">
                        <a aria-controls="profile" data-toggle="tab" id="profile-tab" role="tab" href="#profile">选择门店</a></li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div aria-labelledby="home-tab" id="home" class="tab-pane fade @(promoActiveClass)" role="tabpanel">
                        <div class="form-horizontal form-bordered">
                            <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right">开始时间</label>
                                <div class="col-sm-4">
                                    <span class="input-icon icon-right time-layer">
                                        <input id="txt_imgstartDate" class="form-control date-picker" placeholder="开始时间" onclick="laydate({ istime: true, format: 'YYYY-MM-DD' })" value="@(model.StartDate.ToString("yyyy-MM-dd"))">
                                        <i class="fa fa-calendar"></i></span>
                                </div>
                            </div>
                            <div class="form-group no-border">
                                <label class="col-sm-2 control-label no-padding-right">结束时间</label>
                                <div class="col-sm-4">
                                    <span class="input-icon icon-right time-layer">
                                        <input id="txt_imgendDate" class="form-control date-picker" placeholder="结束时间" onclick="laydate({ istime: true, format: 'YYYY-MM-DD' })"   value="@(model.EndDate.ToString("yyyy-MM-dd"))">
                                        <i class="fa fa-calendar"></i></span>
                                </div>
                            </div>
                            @{
                                if (viewtype == 0)
                                {
                                <div class="form-group">
                                    <label class="col-sm-2 control-label no-padding-right">促销内容</label>
                                    <!-- File Upload -->
                                    <div class="col-sm-10">
                                        @Html.Partial("FileUpload", 2)
                                    </div>
                                    <input type="hidden" id="hid_imgUrl" value="@(model.ImageFile)" />
                                </div>
                                }
                                else
                                {
                                <div class="form-group">
                                    <label class="col-sm-2 control-label no-padding-right">促销内容</label>
                                    <div class="col-sm-10">
                                        <textarea id="txt_textpromotion" class="form-control" rows="6" id="form-field-8" placeholder="输入促销内容">@(model.TextContent)</textarea>
                                    </div>
                                </div>
                                }
                            }

                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    @{
                                        
                                        if (model.ID > 0)
                                        {
                                            if (branchID == 0)
                                            {
                                                if (viewtype == 0)
                                                {
                                        <a class="btn btn-primary" onclick="editImgPromo(@(model.ID))">保 存</a>
                                                }
                                                else
                                                {
                                        <a class="btn btn-primary" onclick="editTextPromo(@(model.ID))">保 存</a>
                                                }
                                            }
                                        }
                                        else
                                        {
                                            if (viewtype == 0)
                                            {
                                        <a class="btn btn-primary" onclick="addImgPromo()">确 定</a>
                                            }
                                            else
                                            {
                                        <a class="btn btn-primary" onclick="addTextPromo()">确 定</a>
                                            }
                                        }
                                        
                                        
                                        
                                        <a class="btn btn-default" onclick="returnPromoList('@(viewtype)')">返 回</a>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>

                    <div aria-labelledby="profile-tab" id="profile" class="tab-pane fade @(branchActiveClass)" role="tabpanel">
                        <table class="table table-striped">
                            <colgroup class="row">
                                <col class="col-xs-12">
                            </colgroup>

                            <tbody>
                                @{
                                    Model.Operation_Model.HtmlPartial_Model htModel = new Model.Operation_Model.HtmlPartial_Model();
                                    htModel.ID = model.ID;
                                    htModel.Type = 2;
                                    htModel.Url = "/Promotion/GetPromotionList?viewtype=" + viewtype;  
                                }
                                @Html.Partial("BranchSelection", htModel)
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
        <!-- /Page Body -->
    </div>
    <!-- /Page Content -->
</div>
<!--时间选择器脚本-->
<script src="/assets/js/datetime/bs-datepicker.js"></script>
<script src="/Script/Promotion.js"></script>
