@{
    List<Model.Table_Model.Branch_Model> branchList = new List<Model.Table_Model.Branch_Model>();
    branchList = ViewBag.BranchList;

    List<Model.Table_Model.New_Promotion_Model> list = new List<Model.Table_Model.New_Promotion_Model>();
    list = ViewBag.PromotionList;

    int LoginBranchID = ViewBag.LoginBranchID;
}

<div class="page-container">
    <!-- Page Sidebar -->
    @Html.Partial("Sidebar", 4)
    <!-- /Page Sidebar -->
    <!-- Page Content -->
    <div class="page-content">
        <!-- Page 面包屑 -->
        <div class="page-breadcrumbs">
            <ul class="breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="/Home/Index">首页</a>
                </li>
                <li>促销</li>
            </ul>
        </div>
        <!-- /Page 面包屑 -->
        <!-- Page Header -->
        <div class="page-header position-relative">
            <div class="header-title">
                <h1>促销</h1>
            </div>
            <!--Header Buttons-->
            <div class="header-buttons">
                <a class="sidebar-toggler" href="#">
                    <i class="fa fa-arrows-h"></i>
                </a>
                <a class="refresh" id="refresh-toggler" href="">
                    <i class="glyphicon glyphicon-refresh"></i>
                </a>
                <a class="fullscreen" id="fullscreen-toggler" href="#">
                    <i class="glyphicon glyphicon-fullscreen"></i>
                </a>
            </div>
            <!--Header Buttons End-->
        </div>
        <!-- /Page Header -->
        <!-- Page Body -->
        <div class="page-body">

            <div class="form-group navbar-form much-btn">
                <div class="btn-group select-div">
                    <div class="select-titel">选择门店:</div>
                    <select class="select-control" id="ddl_branchID">
                        @if (branchList != null && branchList.Count > 0)
                        {
                            for (int i = 0; i < branchList.Count; i++)
                            {
                                if (branchList[i].ID == LoginBranchID)
                                {
                            <option value="@(branchList[i].ID)" selected="selected">@(branchList[i].BranchName) </option>
                                }
                                else
                                {
                            <option value="@(branchList[i].ID)">@(branchList[i].BranchName) </option>
                                }
                            }
                        }

                    </select>
                </div>
                <div class="btn-group select-div">
                    <div class="select-titel">选择状态:</div>
                    <select class="select-control" id="ddl_flag">
                        <option value="0">全部</option>
                        <option value="2">进行中</option>
                        <option value="1">未开始</option>
                        <option value="3">已结束</option>
                    </select>
                </div>
                <a href="/Promotion/EditPromotionNew" class="btn btn-default"><i class="fa fa-plus-square"></i>添加促销</a>
            </div>
            <div class="widget-body no-padding">

                <table class="table table-hover table-striped">
                    <colgroup class="row">
                        <col class="col-xs-1">
                        <col class="col-xs-1">
                        <col class="col-xs-4">
                        <col class="col-xs-2">
                        <col class="col-xs-4">
                    </colgroup>
                    <thead>
                        <tr>
                            <th>编号</th>
                            <th>类型</th>
                            <th>标题</th>
                            <th>生效时间</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody id="tbServiceList">
                        @{
                            if (list != null && list.Count > 0)
                            {
                                int index = 1;
                                foreach (Model.Table_Model.New_Promotion_Model item in list)
                                {
                            <tr>
                                <td>@(index)</td>
                                @{
                                    string type = "";
                                    switch (item.Type)
                                    {
                                        case 1:
                                            type = "顶部促销";
                                            break;
                                        case 2:
                                            type = "底部促销";
                                            break;
                                    }
                                }
                                <td>@(type)</td>
                                <td>@(item.Title)</td>
                                <td>
                                    <div class="over-text">
                                        <span>@(item.StartDate.ToString("yyyy/MM/dd"))-@(item.EndDate.ToString("yyyy/MM/dd"))</span>
                                    </div>
                                </td>
                                <td>
                                    <a  href="/Promotion/EditPromotionNew?cd=@(item.PromotionCode)"  class="btn btn-default btn-sm"><i class="fa fa-edit"></i>编辑</a>
                                    @if (LoginBranchID > 0)
                                    {
                                        <a href="#" class="btn btn-default btn-sm" id="@(item.PromotionCode)" onclick="delService(this)"><i class="fa fa-trash-o"></i>删除</a>
                                        
                                       
                                    }
                                    @if (DateTime.Compare(DateTime.Now.ToLocalTime(), item.StartDate) < 0 && item.PromotionType > 0)
                                        {
                                            <a  href="/Promotion/GetPromotionProductList?pc=@(item.PromotionCode)&f=0"  class="btn btn-default btn-sm"><i class="fa fa-cube"></i>产品</a>  
                                        } 
                                    @if(item.PromotionType > 0){
                                    <a href="/Promotion/PromotionSaleDetail?pc=@(item.PromotionCode)" class="btn btn-default btn-sm"><i class="fa fa-sliders"></i>详情</a>
                                    }
                                </td>
                            </tr>
                                    index++;
                                }
                            }
                        }

                    </tbody>
                </table>
            </div>
        </div>
        <!-- /Page Body -->






    </div>
    <!-- /Page Content -->
</div>
<script>
    $(function () {
        var branchID = $.getUrlParam('branchID');
        if (branchID != null) {
            $('#ddl_branchID').val(branchID);
        }

        var flag = $.getUrlParam('flag');
        if (flag != null) {
            $('#ddl_flag').val(flag);
        }

        var viewtype = $.getUrlParam('viewtype');
        if (viewtype == null || viewtype == 0) {
            viewtype = 0;
        }
        else {
            viewtype = 1;
        }

        $('#ddl_branchID').change(function () {
            if (branchID != null) {
                branchID = 0;
            }
            var url = "/Promotion/GetPromotionListNew?branchID=" + $(this).val();
            if (flag != null) {
                url += "&flag=" + $('#ddl_flag').val();
            }
            location.href = url;
        });

        $('#ddl_flag').change(function () {
            if (flag != null) {
                flag = 0;
            }
            var url = "/Promotion/GetPromotionListNew?flag=" + $(this).val();
            if (branchID != null) {
                url += "&branchID=" + $('#ddl_branchID').val();
            }
            location.href = url;
        });
    });

</script>
<script src="/Script/PromotionNew.js"></script>
