@{
    ViewBag.Title = "预约详情";
    Model.View_Model.GetScheduleDetail_Model model = Model;
    List<Model.View_Model.AccountList_Model> listAcc = ViewBag.AccountList;

    string srtCookie = HS.Framework.Common.Util.CookieUtil.GetCookieValue("HSTouch", true);
    WebTouch.Models.Cookie_Model cookieModel = new WebTouch.Models.Cookie_Model();
    if (!string.IsNullOrWhiteSpace(srtCookie))
    {
        cookieModel = Newtonsoft.Json.JsonConvert.DeserializeObject<WebTouch.Models.Cookie_Model>(srtCookie);
    }
    //else
    //{
    //    Response.Redirect("/Login/Login?err=1");
    //}

    string CurrencySymbol = cookieModel.CurrencySymbol;
}

<script src="/Scripts/mobiscroll_002.js" type="text/javascript"></script>
<script src="/Scripts/mobiscroll_004.js" type="text/javascript"></script>
<link href="/css/mobiscroll_002.css" rel="stylesheet" type="text/css">
<link href="/css/mobiscroll.css" rel="stylesheet" type="text/css">
<script src="/Scripts/mobiscroll.js" type="text/javascript"></script>
<script src="/Scripts/mobiscroll_003.js" type="text/javascript"></script>
<script src="/Scripts/mobiscroll_005.js" type="text/javascript"></script>
<link href="/css/mobiscroll_003.css" rel="stylesheet" type="text/css">

<script src="/Scripts/Appointment.js"></script>




@if (model != null)
{
    <input type="hidden" value="@(model.TaskStatus)" id="hid1" />
    <div class="wrapper">
        <div class="whiteBkg width100">
            <div class="width90 blockC">
                <ul class="width100 rowUl15">
                    <li class="borderB clearfix">
                        <div class="blackTex fl">预约编号</div>
                        <div class="grayTex fr">@(model.TaskID)</div>
                    </li>
                    <li class="borderB clearfix">
                        <div class="blackTex fl">预约状态</div>
                        <div class="grayTex fr">
                            @if (model.TaskStatus == 1)
                            {
                                <div class="fr grayTex"><span class="block blueTex"><span class="MR5">?</span>待确认</span></div>
                            }
                            else if (model.TaskStatus == 2)
                            {
                                <div class="fr grayTex"><span class="block greenTex"><span class="MR5">√</span>已确认</span></div>
                            }
                            else if (model.TaskStatus == 3)
                            {
                                <div class="fr grayTex"><span class="block greenTex"><span class="MR5">√</span>已执行</span></div>
                            }
                            else if (model.TaskStatus == 4)
                            {
                                <div class="fr grayTex"><span class="block color1"><span class="MR5">×</span>已取消</span></div>
                            }

                        </div>
                    </li>
                    <li class="borderB clearfix">
                        <div class="blackTex fl">预约门店</div>
                        <div class="grayTex fr">@(model.BranchName)</div>
                    </li>
                    <li class="borderB clearfix">
                        <div class="blackTex fl">到店时间</div>
						<div class="grayTex fr"><input value="@(model.TaskScdlStartTime.ToString("yyyy-MM-dd HH:mm"))" class="@(model.TaskStatus == 1 ? "borderInput " : "borderInput borderNone")" readonly="readonly" name="appDateTime" id="aStartTime" type="text"></div>
                    </li>
                    <li class="borderB clearfix">
                        <div class="blackTex fl">预约内容</div>
                        <div class="grayTex fr">@(model.ProductName)</div>
                    </li>
                    <li class="borderB clearfix">
                        <div class="blackTex fl">指定顾问</div>
                        <div class="grayTex fr"><a class="grayTex @(model.TaskStatus == 1 ?"LinkUnderLine" :"")" @(model.TaskStatus == 1 ? "onclick=showDiv()" : "")  id="aAccountName" >@(model.AccountID == 0 ? "到店指定" : model.AccountName)</a></div>
                    </li>
                    <li class="clearfix">
                        <textarea placeholder="请输入备注内容" class="textarea" rows="4" @(model.TaskStatus == 1 ? "" : "disabled='disabled'") id="txtTaskDescription">@(model.Remark)</textarea></li>
                </ul>
            </div>
        </div>
        @if(model.OrderObjectID > 0){
        <div class="part width100 whiteBkg MT10">
            <div class="width90 blockC">
                <ul class="width100 rowUl">
                    <li class="borderB">
                        <a href="/Order/OrderDetail?oId=@(model.OrderObjectID)">
                            <ol class="width100">
                                <li class="clearfix positionR">
                                    <div class="clearfix">
                                        <div class="fl width30">
                                            <h4 class="blackTex font16">订单编号</h4>
                                        </div>
                                        <div class="grayTex fr width65">
                                            <div class="MR30 textR">
                                                <span class="block">@(model.OrderNumber)</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="PT15">@(model.ProductName)</div>
                                    <div class="clearfix PT15 MR30">
                                        <div class="blackTex fl">订单金额</div>
                                        <div class="grayTex fr">@(CurrencySymbol)@(model.TotalSalePrice.ToString("0.00"))</div>
                                    </div>
                                    <span class="rightArrowRow">
                                        <img src="/pic/rightArrow.png" height="20"/></span>
                                </li>
                            </ol>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        }
        @if (model.TaskStatus == 2)
        {
            <div class="width90 blockC MT30 MB30"><a class="btnLarge bkgColor1 width100" onclick="CancelSchedule(@(model.TaskID))">预约取消</a></div>
        }
        else if (model.TaskStatus == 1)
        {
            <div class="width90 blockC MT30 MB30 clearfix"><a class="btnLarge bkgColor1 width48 fl" onclick="CancelSchedule(@(model.TaskID))">预约取消</a><a class="btnLarge bkgColor1 width48 fr" onclick="EditAppointment(@(model.TaskID))">编辑保存</a></div>
        }
        
    <input type="hidden" id="hiddenData" value="@(model.AccountID)" />
    </div>
    <div id="guideImg1" class="block " style="display:none;">
        <a class="closedBtn"><img src="/pic/closedBtn.png" height="30"/></a>
        <div class="popupDiv whiteBkg width100">
            <ul class="rowUl3 ML5P MR5P">
                <li class="borderB">
                    <a onclick="selectAcc(0,'到店指定')">
						<div class="fl popUpImgArea MR30 borderRadius">
				 			<img src="/pic/noappointpic.png" height="30"/>
				 		</div>
				 		<div class="grayTex fl">到店指定</div>
				 	</a>
                </li>
                @if (listAcc != null && listAcc.Count > 0)
                {
                    foreach (Model.View_Model.AccountList_Model itemAcc in listAcc)
                    {
                    <li class="borderB">
                        <a onclick="selectAcc(@(itemAcc.AccountID),'@(itemAcc.AccountName)')">
							<div class="fl popUpImgArea MR30 borderRadius">
								<img src="@(itemAcc.HeadImageURL == "" ? "/pic/nopicbg.jpg" : itemAcc.HeadImageURL)" height="30"> 
							</div>
                            <div class="grayTex fl">@(itemAcc.AccountName)</div>
                        </a>
                    </li>
                    }
                }
            </ul>
        </div>
    </div>

    
    <script>
        function overlayShow() {
            document.getElementById("guideImg1").style.display = "";
        }
        //关闭弹框
        function closePop() {
            $("#guideImg1").hide();
        }
        $(".closedBtn").click(function () {
            closePop();
        })

        function showDiv() {
            $("#guideImg1").show();
        }
	</script>
}