@{
    List<Model.Table_Model.BranchSelection_Model> listBranch = new List<Model.Table_Model.BranchSelection_Model>();
    if (ViewBag.BranchSelection != null)
    {
        listBranch = ViewBag.BranchSelection;
    }
    Model.Operation_Model.HtmlPartial_Model htModel = new Model.Operation_Model.HtmlPartial_Model();
    htModel = Model;


    string srtCookie = HS.Framework.Common.Util.CookieUtil.GetCookieValue("HSManger", true);
    WebManager.Models.Cookie_Model cookieModel = new WebManager.Models.Cookie_Model();
    if (!string.IsNullOrWhiteSpace(srtCookie))
    {
        cookieModel = Newtonsoft.Json.JsonConvert.DeserializeObject<WebManager.Models.Cookie_Model>(srtCookie);
    }else{
        Response.Redirect("/Login/Login?err=1");
    }

    int loginBranch = cookieModel.BR;
}
<div>
    <table class="table table-hover table-striped ">
        <colgroup class="row">
            <col class="col-xs-12">
        </colgroup>
        <thead>
            <tr>
                <td>
                    <label class="btn-group no-pm" title="全选">
                        <input id="chkAll" name="chkAll" type="checkbox" onclick="selectAll(this,@(htModel.Code))" />
                        <span class="text"><strong>门店名称</strong></span>
                    </label>
                </td>
            </tr>
        </thead>
        <tbody>

            @if (listBranch.Count != null && listBranch.Count > 0)
            {
                string imgoldBranchs = "";

                foreach (Model.Table_Model.BranchSelection_Model item in listBranch)
                {
                    string strCheck = "";
                    if (htModel.Type == 1)
                    {
                        strCheck = "onclick=checkAccount(this," + item.BranchID + "," + htModel.Code + ")";
                    }
                    string ischecked = "";
                    if (item.IsExist)
                    {
                        imgoldBranchs += "|" + item.BranchID;
                        ischecked = " checked=\"checked\"";
                    }
                <tr>
                    <td>
                        <label class="btn-group no-pm">
                            <input id="imgBranchID" name="imgBranchID" type="checkbox" value="@(item.BranchID)" @(ischecked)  @(strCheck)  />
                            <span class="text">@(item.BranchName)</span>
                        </label>
                    </td>
                </tr>
                    
                }
                <input type="hidden" id="hid_imgOldBranchs" value="@(imgoldBranchs)">
            }
        </tbody>
    </table>
    <br>
    @if(loginBranch == 0){
    <button type="submit" class="btn btn-primary" onclick="getBranchSelectList(@(htModel.Code),@(htModel.Type),'@(htModel.Url)')">确 定</button>
    }
    <a class="btn btn-default" onclick="goBack(@(htModel.Type),'@(htModel.Url)    ')">返 回</a>
</div>
<script src="~/Script/BranchSelectionNew.js"></script>
