@{
    ViewBag.Title = "门店详情";
    Model.View_Model.GetBusinessDetail_Model model = new Model.View_Model.GetBusinessDetail_Model();
    model = Model;
    List<string> imgList = ViewBag.ImgList;
    int branchId = HS.Framework.Common.Safe.QueryString.IntSafeQ("b");
}
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=mvsDPBAu8r0iMYK33XU3mTG5"></script>
<script src="/js/Swipe.js"></script>
<script type="text/javascript">
    $(function(){
        Swipe(document.getElementById('slider'), {
            auto: 3000,
            continuous: true,
            callback: function (pos) {
                var bullets = $("#position li");
                var i = bullets.length;
                while (i--) {
                    bullets[i].className = ' ';
                }
                bullets[pos].className = 'on';
            }
        });
    });
</script>

<style type="text/css">
    body, html {
        width: 100%;
        height: 100%;
        margin: 0;
        font-family: "微软雅黑";
    }

    #allmap {
        height: 500px;
        width: 100%;
    }

    #r-result {
        width: 100%;
        font-size: 14px;
    }
</style>
<div class="wrapper whiteBkg">
    <div class="width90 blockC P10Table">
        <ul class="borderB width100 rowUl2">
            <li class="width33_3 positionR">门店介绍<span class="btmline bkgColor1"></span></li><li class="width33_3 "><a href="/Company/BranchPromotion?b=@(branchId)">促销一览</a></li><li class="width33_3"><a href="/Company/ConsultantList?b=@(branchId)">服务团队</a></li>
        </ul>


          @if (imgList != null && imgList.Count > 0)
{
	<!--轮显图片开始-->
		<div class="banner swipe" id="slider">
			<div class="swipe-wrap">
				 @foreach (string item in imgList)
                {
					<figure><a href="#"><img src="@(item)" alt=""/></a></figure>
				}
			</div>
			<nav>
				<ul id="position">
				@for(int i = 0;i<imgList.Count;i++){
					<li></li>
				}
				</ul>
			</nav>
		</div>
	<!--轮显图片结束-->	
}

        @if (model != null) 
        {
            <ul class="width100 rowUl15">
                @if (model.Name != "" && model.Name != null)
                {
                    <li class="borderB clearfix">
                        <div class="blackTex fl">@(model.Name)</div>
                    </li>   
                }
                @if (model.Contact != "" && model.Contact != null)
                {
                    <li class="borderB clearfix">
                        <div class="blackTex width30 fl">联系人</div>
                        <div class="grayTex fr">@(model.Contact)</div>
                    </li>
                }
                @if (model.Phone != "" && model.Phone != null)
                {
                    <li class="borderB clearfix">
						<div class="blackTex width30 fl">电话</div>
						<div class="fr"><a class="grayTex" href="tel:@(model.Phone)">@(model.Phone)</a></div>	
                    </li>
                }
                @if (model.Fax != "" && model.Fax != null)
                {
                    <li class="borderB clearfix">
                        <div class="blackTex width30 fl">传真</div>
                        <div class="grayTex fr">@(model.Fax)</div>
                    </li>
                }
                @if (model.Address != "" && model.Address != null)
                {     
					<li class="borderB pTB15 clearfix">
						<h4 class="PB15 blackTex">地址</h4>
						<div class="width98 fr grayTex lineHeight1_5x">@(model.Address)</div>
					</li>
                }
                @if (model.Web != "" && model.Web != null)
                {
					<li class="borderB pTB15 clearfix">
						<h4 class="PB15 blackTex">网址</h4>
						<div class="width98 fr grayTex lineHeight1_5x"><a class="grayTex" href="http://@(model.Web.Replace("\n", "<br />").Replace("\r", "<br />").Replace("\r\n", "<br />").Replace("http://", ""))">@(model.Web.Replace("\n", "<br />").Replace("\r", "<br />").Replace("\r\n", "<br />"))</a></div>
					</li>
                }
                @if (model.Zip != "" && model.Zip != null)
                {
                    <li class="borderB clearfix">
                        <div class="blackTex width30 fl">邮编</div>
                        <div class="grayTex fr">@(model.Zip)</div>
                    </li>
                }
                @if (model.BusinessHours != "" && model.BusinessHours != null)
                {
                    <li class="borderB clearfix">
                        <div class="blackTex width30 fl">营业时间</div>
                        <div class="grayTex fr">@(model.BusinessHours)</div>
                    </li>
                }
                @if (model.Latitude != 0 && model.Longitude != 0)
                {
                    <li class="borderB pTB15 clearfix">
                        <h4 class="PB15 blackTex">地图</h4>
                        <div class="width98 fr grayTex lineHeight1_5x">
                            <div id="allmap"></div>
                        </div>
                    </li>
                    
                    <script type="text/javascript">
                        var map = new BMap.Map("allmap");
                        var new_point = new BMap.Point(@(model.Longitude), @(model.Latitude));
                        map.centerAndZoom(new_point, 11);
                        map.enableScrollWheelZoom(true);

                        var marker = new BMap.Marker(new_point);  // 创建标注
                        map.addOverlay(marker);
                        map.panTo(new_point);
                    </script>
                }
            </ul>
        }
    </div>
</div>
